body {
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.nine-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nine-frame {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(to bottom, darkgreen, mediumseagreen, darkgreen);
}

.nine {
  border: 3px solid black;
}

.title {
  text-align: center;
  font-size: 15px;
  background: linear-gradient(to left, gray, black, gray);
  padding: 5px;
  color: white;
}

.title a:link,
.title a:visited {
  color: white;
}

.nine-content {
  position: relative;
}

.ground {
  width: 100%;
  margin: auto;
}

.text {
  position: absolute;
  font-size: 20px;
  color: white;
  text-shadow: black 2px 2px 5px, black -2px 2px 5px, black 2px -2px 5px, black -2px -2px 1px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.pitcher {
  left: 50%;
  top: 55%;
}

.catcher {
  left: 50%;
  top: 85%;
}

.first_baseman {
  left: 82.5%;
  top: 52.5%;
}

.second_baseman {
  left: 70%;
  top: 35%;
}

.third_baseman {
  left: 17.5%;
  top: 52.5%;
}

.shortstop {
  left: 30%;
  top: 35%;
}

.left_fielder {
  left: 17.5%;
  top: 17.5%;
}

.center_fielder {
  left: 50%;
  top: 10%;
}

.right_fielder {
  left: 82.5%;
  top: 17.5%;
}

.designated_hitter {
  left: 85%;
  top: 82.5%;
}

.center {
  text-align: center;
}

